<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css"></head>

<meta name="description" content="">
<script src="lib/jquery.js"></script>
<script src="lib/underscore.js"></script>
<script src="lib/backbone.js"></script>
</head>
<body>

<h2>My item lists</h2>
<a id="newBtn" class="btn add">New</a>

<table class="listTable">
    <thead>
        <td>Item</td>
        <td>Item Chinese</td>
        <td>Size</td>
        <td>Type</td>
        <td>Quantity</td>
        <td>Shipping</td>
        <td>BPrice</td>
        <td>SPrice</td>
        <td>DPrice</td>
        <td></td>
        <td></td>
    </thead>
    <tbody id="listBody">
    </tbody>
</table>
<!--new list-->
<table class="listTableForNewItem">
</table>

<script type="text/template" id="item-template">
        <tr>
            <td><%=  itemEng%></td>
            <td><%=  itemCh%></td>
            <td><%=  size%></td>
            <td><%=  type%></td>
            <td><%=  quantity%></td>
            <td><%=  shipping%></td>
            <td><%=  bPrice%></td>
            <td><%=  sPrice%></td>
            <td><%=  dPrice%></td>
            <td><a id="editBtn" class="btn">Edit</a></td>
            <td><a id="deleteBtn" class="btn">Delete</a></td>
        </tr>
</script>
<script type="text/template" id="item-new" class = 'item-new'>
    <tr>
        <td><input type="text" id = 'itemEng' value = 'item' ></td>
        <td><input type="text" id = 'itemCh' ></td>
        <td><input type="text"  id = 'size' ></td>
        <td><input type="text" id = 'type'></td>
        <td><input type="text" id="quantity"></td>
        <td><input type="text" id="shipping"></td>
        <td><input type="text" id="bPrice" ></td>
        <td><input type="text" id="sPrice"></td>
        <td><input type="text" id="dPrice"></td>
        <td><a id="saveBtn" class="btn save">Save</a></td>
        <td><a id="cancelBtn" class="btn cancel">Cancel</a></td>

    </tr>
</script>

<script src="Models/priceModel.js"></script>
<script src="Collection/priceCollection.js"></script>
<script src="Views/priceView.js"></script>
<script src="Views/priceTableView.js"></script>

<script src="main.js"></script>

</body>
</html>