table {
    width: 100%;
    margin-top: 12px;
}
tr {
	min-width: 1000px;
}
td {
    border-top: 1px solid gray;
    border-right:1px solid gray;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
    height: 15px;
    padding: 2px 15px 2px 15px;
    white-space: nowrap;
}

td.item-new-td {
    background-color: #FFCCCC;
}
input {
	width: 100%; 
    position:relative;
    left: -10px;
    top: 5px;
}

thead {
    font-size:16px;
    color:gray;
    background-color: #E0E0E0;
}

.btn {
	text-align: center;
}

/*input, select, textarea{*/
    /*color: gray;*/
/*}*/

textarea:focus, input:focus {
    color: blue;
}



